<div id="trucks-holder">
  <% trucks.each do |truck| %>
    <div class="truck-holder flex-center-column">
      <h2>
        <%= truck.name %>
      </h2>
      <p>
        <%= truck.address %>
      </p>
      <p>
        <%= link_to 'remove', company_truck_path(@company, truck), :method => :delete %>
      </p>
    </div>
  <% end %>
</div>

<div class="flex-center">
  <button id="add-truck-btn" class="btn btn-light" type="button" data-toggle="collapse" data-target="#truck-create-form" aria-expanded="false" aria-controls="collapseExample">Add</button>
</div>

<%= form_for Truck.new, :url => create_truck_company_path(company), remote: true, :html => {:class => 'company-form collapse', :id => 'truck-create-form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.submit "submit", :class => "btn btn-light", data: {disable_with: "..."},:id => 'truck-add-btn' %>
<% end %>
<% else %>
