
<p>name</p>
<%= f.text_field :name, autofocus: true %>

<p>website</p>
<%= f.text_field :website %>

<p>phone number</p>
<%= f.text_field :phone_number %>

<p>credit card?</p>
<%= f.check_box :credit_card %>

<p>description</p>
<%= f.text_area :bio, :class => "textarea", :rows => "4", :cols => "25"%>

<div id="truck-submit-btn" class="actions">
  <%= f.submit "Enter", :class => "btn btn-light" %>
</div>
