<div class="company-show-holder ">
  <div class="map-holder">
    <div id="map_show"></div>
  </div>

  <div class="company-holder flex-column page-margin">
    <!-- Good job using composable css classes -->
    <div class="company-holder-info-bio">
      <div class="company-info-holder">
        <h1>
          <%= @company.name %>
        </h1>
        <h2>
          <a target="_blank" href="<%=@company.website%>">
            website
          </a>
        </h2>
        <h2>
          <%= @company.phone_number %>
        </h2>

        <div class="company-credit-card-holder">
          <h2>Credit Card:</h2>
          <% if @company.credit_card %>
            <h2 class="positive-font">
              Yes
            </h2>
            <% else %>
            <h2 class="negative-font">
              No
            </h2>
          <% end %>
        </div>

        <% if can? :update, @company %>
          <h2>
            <%= link_to 'edit profile', edit_company_path(@company) %>
          </h2>
        <% end %>
        <% if can? :destroy, @company %>
            <h2>
              <%= link_to "delete profile", company_path(@company), method: :delete, :class => "negative-font" %>
            </h2>
        <% end %>
      </div>

      <div class="company-bio-holder">
        <p>
          <%= @company.bio %>
        </p>
      </div>
    </div>

    <div class="border-line"></div>

    <% if can? :update, @company %>
      <div class="flex-center-column trucks-holder">
        <%= render :partial => "trucks/trucks", :locals => {:trucks => @trucks, :company => @company} %>
      </div>
    <% end %>

    <div class="company-comments-holder flex-center-column">
      <h2>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapse_comments" aria-expanded="false" aria-controls="collapseExample">
          Comments
        </button>
      </h2>

      <%= render :partial => "comments/comments", :locals => {:comments => @comments, :company => @company} %>
    </div>
  </div>
</div>

<%= content_tag :div, id: 'map_show_data', class: 'temp_information', data:@hash.to_json do %>
<% end %>
