<h1><%= @company.name %></h1>
<h2><a target="_blank" href="<%=@company.website%>"><%= @company.website %> </a></h2>
<h2><%= @company.phone_number %></h2>

<% if can? :update, @company %>

  <%= form_for @company, :html => {:id => "company-show-bio", :class => "form-group"}, remote: true do |f| %>
    <%= f.text_area :bio %>
    <%= f.submit "update", :html => {:class => 'btn btn-light'} %>
  <% end %>

  <button id="company-show-edit-description" value="false" type="button" class="btn btn-light">Edit Description</button>
<% else %>
  <p><%= @company.bio %></p>
<% end %>



<h2>Credit Cards</h2>
<% if @company.credit_card %>
  <div class="alert alert-success" role="alert">
    YES
  </div>
  <% else %>
  <div class="alert alert-danger" role="alert">
    NO
  </div>
<% end %>



<% if can? :update, @company %>
  <h2>Trucks</h2>
  <% @trucks.each do |truck| %>
    <p>
      <%= truck.name %>
    </p>
  <% end %>

  <p>
    <%= link_to "Edit Profile", edit_company_path(@company) %>
  </p>
<% end %>
